.navbar {
    background-color: beige !important;
    color: rgb(0, 0, 0);
    z-index: 1000;
    transition: background-color 0.3s;
    padding-bottom: 20px;
    padding-top: 20px;
}


.nav-upper-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b0a491;
    padding-inline: 0px;
}

.ds-none {
    display: none !important;
}

.navbar.scrolled {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(186, 198, 176, 0.1);
    background-color: beige !important;
}

.navbar-logo>h4>span {
    color: var(--them-secondary);
}

.navbar-logo>a>img {
    width: 240px;
    height: auto;
    cursor: pointer;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: normal;
    color: var(--second-bg-color) !important;
    transition: background 0.3s, border-bottom 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid rgb(176, 164, 145);
    padding-bottom: 5px;
}

.navbar-icons .btn-outline-primary {
    padding: 12px 30px;
    border: 1px solid rgb(176, 164, 145) !important;
    border-radius: 0;
    color: var(--them-secondary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-icons .btn-outline-primary:hover {
    background: rgb(176, 164, 145) !important;
    color: var(--text-color);
}

.navbar.scrolled .navbar-icons .btn-outline-primary {
    background-color: rgb(176, 164, 145) !important;
    color: var(--text-color);
}

.navbar.scrolled .navbar-icons .btn-outline-primary:hover {
    background: transparent !important;
    color: var(--them-secondary);
}

.nav-icons-header-phone {
    font-size: 18px;
    color: #5a6e56;
    cursor: pointer;
}

.nav-icons-header-mail {
    font-size: 24px;
    color: #5a6e56;
    cursor: pointer;
}

.nav-header-text {
    margin: 0;
    font-size: 13px;
    text-align: center;
}

.nav-icon-parent {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575px) {
    .navbar {
        padding-inline: 10px;
    }

    .nav-header-text {
        font-size: 12px;
        text-align: center;
    }

    .nav-upper-text {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .nav-icons-header-phone {
        font-size: 18px;
    }

    .nav-icons-header-mail {
        font-size: 24px;
    }

    .nav-icon-parent {
        gap: 15px;
    }

    .navbar-logo>a>img {
        height: auto;
        max-width: 200px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item {
        text-align: start;
        width: 100%;
    }

    .nav-link {
        font-size: 13px;
        text-align: center;
        color: var(--text-color);
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-icons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar-icons .btn-outline-primary {
        padding: 8px 15px;
        font-size: 13px;
    }

    .navbar-collapse {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(186, 198, 176, 0.1);
        padding: 10px 0px 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .nav-header-text {
        font-size: 12px;
        text-align: left;
    }

    .nav-upper-text {
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
    }

    .nav-icon-parent {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: flex-end; /* Aligns icons to the right */
    }

    .navbar-logo>a>img {
        height: auto;
        max-width: 200px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item {
        text-align: start;
        width: 100%;
    }

    .nav-link {
        font-size: 13px;
        text-align: left;
        color: var(--text-color);
    }

    .navbar-icons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar-icons .btn-outline-primary {
        padding: 8px 15px;
        font-size: 13px;
    }

    .navbar-collapse {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(186, 198, 176, 0.1);
        padding: 10px 0px 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-header-text {
        font-size: 10px;
    }

    .nav-icons-header-mail {
        font-size: 24px;
    }

    .nav-icons-header-phone {
        font-size: 15px;
    }

    .nav-icon-parent {
        gap: 13px;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar-icons .btn-outline-primary {
        padding: 10px 10px !important;
    }
}
