.about-us-msg {
    background: var(--them-secondary);
}

.msg-heading {
    text-align: start !important;
    color: var(--text-color);
}

.msg-heading>h3 {
    font-size: 30px;
}

.msg-heading>h6 {
    font-size: 16px;
    margin: 10px 0 20px !important;
}

.msg-content>p {
    font-size: 15px;
    color: var(--text-color);
}

.msg-img>img {
    width: 100%;
    /* border-radius: 50%; */
    height: 550px;
}

.msg-img-content {
    margin-top: 20px;
}

.msg-img-content>h6 {
    font-size: 25px;
    color: var(--them-color);
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--them-color);
}

.about-btn-cont {
    display: flex;
    /* justify-content: center; */
    margin-top: 30px;
}

.about-btn {
    padding: 10px 35px;
    background-color: var(--them-color);
    color: var(--second-bg-color);
    border: none;
}

@media (max-width: 991px) {
.msg-img{
    margin-bottom: 50px;
}
}

@media (max-width: 768px) {
    .about-us-msg-row {
        flex-direction: column-reverse !important;
    }

    .msg-img {
        margin-top: 10px;
    }

    .wrapper-heading>h4 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px !important;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}