/* ContactUs.css */
.contact-us {
    /* text-align: center; */
}
  
  .contact-container {
    margin-top: 40px;
  }
  
  .map-section {
    width: 100%;
    /* border-radius: 8px; */
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(186,198,176, 0.55);
  }
  
  .info-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
  
  .info-card {
    display: flex;
    align-items: center;
    padding: 18px;
    width: 100%;
    gap: 20px;
    background-color: var(--text-color);
    /* border-radius: 8px; */
    box-shadow: 0 2px 8px rgba(186,198,176, 0.55);
  }
  
  .info-card-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
  }
  
  .info-card-icon img {
    width: 100%;
  }
  
  .info-card h4 {
    font-size: 1rem;
    margin: 0;
    color: #333;
  }
  
  .info-card p {
    font-size: 0.9rem;
    margin: 0;
    color: #555;
  }
  
  .info-card-icon>svg {
    height: 40px;
  }
  
  .contact-btn {
    display: flex;
    justify-content: start;
    margin-top: 30px;
  }
  
  .contact-btn>button {
    padding: 10px 35px;
    background-color: var(--second-bg-color);
    color: aliceblue;
  }
  
  .contact-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .contact-btn>button {
    padding: 10px 35px;
    background-color: var(--them-secondary);
    color: aliceblue;
    border: none;
  }
  
  .contact-btn>button:hover {
    background-color: var(--text-color);
    transition: 0.3s ease all;
    border: 1px solid var(--them-color);
    color: var(--them-color);
    margin: 0px;
  }
  
  .fst-lst>input,
  .email>input {
    margin: 0 0 30px 0;
    background-color: var(--text-color);
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(186,198,176, .06);
    height: 57px;
    padding: 0 25px;
  }
  
  .text-section>textarea {
    color: #391965;
    display: flex;
    padding: 25px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(186,198,176, .06);
  }
  
  .contact-us-form-container {
    margin-top: 40px;
  }
  
  @media (max-width: 768px) {
  
    .contact-container {
      flex-direction: row;
      justify-content: center;
    }
  
    .map-section {
      flex: 1;
    }
  
    .info-cards-container {
      margin-top: 30px;
    }
  
    .info-cards {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    .contact-btn>button {
      padding: 15px 25px;
      font-size: 18px;
      background-color: var(--them-color);
      color: aliceblue;
      border: none;
    }
  }
