.counselling-page {
    padding-top: 190px;
    padding-bottom: 50px;
    background-color: var(--them-color);
}

.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.description-paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.counselling-para{
    font-size: 18px;
}

.counselling-para:last-child {
    margin: 0;
}

.counselling-ing-container{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

/* counselling-sub-container */

@media (min-width: 992px) and (max-width: 1200px) {
    
    .counselling-page {
        padding-top: 200px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .counselling-description {
        margin-top: 50px;
    }   
}


@media (max-width: 768px) {
    .counselling-description {
        margin-top: 50px;
    }

    .counselling-page {
        padding-top: 250px;
    }
}