.hero-main {
    background-image: url(../../Assets/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 70px;
    min-height: 650px;
    height: auto;
    margin-top: 0;
    /* Initially no margin */
}

.hero-container {
    display: flex;
    flex-direction: row;
}

.hero-content {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--them-color);
    max-width: 600px;
}

.hero-content-heading {
    margin-bottom: 20px;
}

.hero-content-heading h4 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    color: var(--text-color) !important;
}

.hero-content-heading h1 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
    color: var(--text-color);
}

.hero-content>p {
    margin-top: 20px;
    font-size: 20px;
    color: var(--text-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.hero-img-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hero-img-container>img {
    width: 100%;
    object-fit: contain;
}

.hero-content-btn>button {
    margin-top: 30px;
    padding: 12px 30px;
    font-weight: 600;
    border: none;
    color: var(--second-bg-color);
    background-color: beige;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hero-main {
        min-height: 600px;
        /* Adjust for smaller screens */
    }

    .hero-img-container>img {
        width: 100%;
    }

    .hero-content-heading h1 {
        font-size: 32px;
    }

    .hero-content>p {
        margin-top: 10px !important;
        font-size: 14px;
    }

    .hero-content-btn>button {
        padding: 10px 20px;
        font-weight: 500;
        font-size: 14px;
        background-color:beige ;
        color: var(--second-bg-color);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hero-content-heading h1 {
        font-size: 35px;
    }

    .hero-content-heading h4 {
        font-size: 14px;
    }

    .hero-content>p {
        margin-top: 10px !important;
        font-size: 14px;
    }

    .hero-content-btn>button {
        padding: 10px 20px;
        font-weight: 500;
        font-size: 14px;
        background-color: var(--them-secondary);
        color: aliceblue;
    }
}