.cookieContainer {
    position: fixed;
    bottom: 0px;
    background: #333;
    color: #fff;
    padding: 15px;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cookie-icon-parent{
    text-align: center;
    margin-bottom: 15px;
}

.cookie-icon-parent svg{
    font-size: 55px;
}

.cookie-heading {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.cookie-text {
    margin: 0 0 15px 0;
    text-align: center;
}

.acceptBtn {
    background: var(--them-secondary);
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    width: 100px;
}

.declineBtn {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    width: 100px;
}

.cookie-btn-container {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
}


@media (max-width: 991px) {
    .cookie-heading {
        font-size: 20px;
    }

    .cookie-text {
        font-size: 14px;
    }
}